@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto+Condensed:wght@400;700&display=swap");
:root {
  --black: #000000;
  --light-black: #e5e5e5;
  --deep-yellow: #fca311;
  --white: #ffffff;
  --dark: #010f29;
}
body {
  min-height: 100vh;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Lato", sans-serif;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
